{% extends 'base.html' %}
{% block body %}
<h3 style="color:navy;text-align:center;padding: 40px;">{{book.name}} </h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{book.img.url}}" width="400" height="350">
        </div>
        <div class="col-md-6">
                <h5>{{book.desc}}</h5><br>
                <p> The book was published in  {{book.year}}  </p>
                <a class="btn btn-warning" href="{% url 'bookapp:update' book.id %}">update</a>
                <a class="btn btn-danger" href="{% url 'bookapp:delete' book.id %}">delete</a>
        </div>
    </div>
</div>
{% endblock %}
